* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .head {
    background-color: #B3D6FF;
    height: 100px;
  }
  
  .left {
    background-color: #E9EDF0;
    width: 33%;
    position: relative;
  }
  
  .red {
    position: absolute;
    background-color: #F09A9D;
    height: 270px;
    width: 200px;
    top: 0;
    right: 0;
  }
  
  .center {
    background-color: #F5CF8E;
    width: 50%;
    position: relative;
  }

  .image {
    width: 240px;
    height: 180px;
    border-radius: 10px;
    margin: 20px;
  }
  
  .h-center {
    height: 400px;
  }
  
  .float-left {
    float: left;
  }
  
  .right {
    background-color: #E9EDF0;
    width: 17%;
  }
  
  
  .clear {
    float: both;
  }
  
  .flex-container {
    background-color: #D5EAFD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;

  }

  .flex-item {
      background: #B3D6FF;
      padding: 10px;
      width: 30%;
      height: 150px;
      margin: 10px;
      padding: 10px;

  }
